# Loading data

In [1]:
import pandas as pd


dataset=pd.read_csv("all-people-2019-09-25.csv")

C:\New folder\new python\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (28,29,37,52,53,54,57,58,59,60,63) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Visual Inspect

In [2]:
dataset.head()

,Date Added,Name,First Name,Last Name,Stage,Lead Source,Assigned To,Is Contacted,Listing Price,Tags,...,ID,Agent who set Appt.?,Appointment Ran?,Date Appt. Set?,Date Appt.Set For?,Showing Specialist,SV: Analyzed Date,SV: Buckets,SV: Reason for Disqualification,SV: Relevant for Outreach
0,2019-09-18,Elizabeth Olivencia,Elizabeth,Olivencia,Hot Prospect,Referral,Alex Lopez,No,NaN,"1st Time Home Buyer, Buyer",...,14650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-18,Shavonne Lancaster,Shavonne,Lancaster,Engaged Prospect,Zillow,Allyson Carey,Yes,189900.0,"18042, Easton, Zillow Connected",...,14651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-18,Kelly Allesch,Kelly,Allesch,Nurture,Realtor.com,Austin Brown,Yes,42000.0,"18031, Breinigsville, Unsubscribed",...,14652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-18,Frances,Frances,NaN,Nurture,Realtor.com,Debbie Pape,No,59999.0,"18042, Easton",...,14653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not so hot right now,NaN
4,2019-09-18,Jesus Beato,Jesus,Beato,Hot Prospect,Realtor.com,Michael Vasquez,No,84900.0,"18042, Easton",...,14654,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset.tail()

,Date Added,Name,First Name,Last Name,Stage,Lead Source,Assigned To,Is Contacted,Listing Price,Tags,...,ID,Agent who set Appt.?,Appointment Ran?,Date Appt. Set?,Date Appt.Set For?,Showing Specialist,SV: Analyzed Date,SV: Buckets,SV: Reason for Disqualification,SV: Relevant for Outreach
12518,2017-08-14,Michele Waite,Michele,Waite,Nurture,Kunversion,Daniel Berenato,No,NaN,"Alex Lopez, Bounced, old dlp",...,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12519,2017-08-14,Nathan Or,Nathan,Or,Nurture,Kunversion,Debbie Pape,No,89900.0,"18302, Alex Lopez, Daniel Berenato, East Strou...",...,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12520,2017-08-13,Cathy Deschu,Cathy,Deschu,Nurture,Realtor.com,Debbie Pape,No,79900.0,"18103, Alex Lopez, Allentown, Daniel Berenato,...",...,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12521,2017-08-14,Test Email,Test,Email,Nurture,Alex - Realtor.com/SG,Daniel Berenato,Yes,NaN,"Alex Lopez, Bounced, Import, New, old dlp",...,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12522,2017-08-14,Grullonbianca,Grullonbianca,NaN,Nurture,Alex - Zillow/SG,Daniel Berenato,Yes,NaN,"Alex Lopez, Import, New, old dlp",...,141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.columns

Index(['Date Added', 'Name', 'First Name', 'Last Name', 'Stage', 'Lead Source',
       'Assigned To', 'Is Contacted', 'Listing Price', 'Tags',
       ...
       'ID', 'Agent who set Appt.?', 'Appointment Ran?', 'Date Appt. Set?',
       'Date Appt.Set For?', 'Showing Specialist', 'SV: Analyzed Date',
       'SV: Buckets', 'SV: Reason for Disqualification',
       'SV: Relevant for Outreach'],
      dtype='object', length=101)

In [6]:
dataset.shape

(12523, 101)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12523 entries, 0 to 12522
Columns: 101 entries, Date Added to SV: Relevant for Outreach
dtypes: float64(34), int64(1), object(66)
memory usage: 9.6+ MB

In [8]:
dataset.count()

Date Added                         12523
Name                               12523
First Name                         12505
Last Name                          10199
Stage                              12523
Lead Source                        12523
Assigned To                        12523
Is Contacted                       12523
Listing Price                       8286
Tags                               12191
Email 1                            11719
Email 1 - Type                     11679
Email 2                              463
Email 2 - Type                       459
Email 3                               16
Email 3 - Type                        16
Email 4                                0
Email 4 - Type                         0
Email 5                                0
Email 5 - Type                         0
Email 6                                0
Email 6 - Type                         0
Phone 1                             9494
Phone 1 - Type                      9458
Phone 2                              426
Phone 2 - Type                       421
Phone 3                               18
Phone 3 - Type                        17
Phone 4                                1
Phone 4 - Type                         1
                                   ...
Property City                       7778
Property State                      7776
Property Postal Code                7758
Property MLS Number                 6674
Property Price                      7293
Property Beds                       6082
Property Baths                      6023
Property Area                       2753
Property Lot                           0
Message                             5529
Description                          407
Notes                               4325
Calls                               7044
Texts                               7180
Background                             4
Campaign Source                      740
Campaign Medium                        0
Campaign Term                          0
Campaign Content                       0
Campaign Name                        740
ID                                 12523
Agent who set Appt.?                 410
Appointment Ran?                     197
Date Appt. Set?                      392
Date Appt.Set For?                   317
Showing Specialist                    69
SV: Analyzed Date                   1663
SV: Buckets                         1228
SV: Reason for Disqualification      504
SV: Relevant for Outreach           1663
Length: 101, dtype: int64

# Exploratory data analysis

In [24]:
#rename columns in pandas dataset.rename(columns={'old':'new'},inplace=True)
dataset.rename(columns={'Property State':'Property_State'}, inplace=True)
dataset.rename(columns={'Listing Price':'Listing_Price'}, inplace=True)

In [27]:
#Value Count in columns 
#dataset.Property_State.value_counts(dropna=True)
dataset.Listing_Price.value_counts(dropna=False).head()

NaN         4237
345000.0     257
145000.0     211
159900.0     168
315000.0     167
Name: Listing_Price, dtype: int64