# Importing Packages sqlite3

In [107]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('bigmart_data.db')

In [108]:
#Reading csv file
dataset=pd.read_csv('bigmart_data.csv')
dataset.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [109]:
#creating cursur conn  to traversal
c=conn.cursor()

# Creating table in sqlite3

In [110]:
#Creating table in sqlite3
data2=[('FDA15',9.30,'Low Fat',0.016047,'Dairy',249.8092,'OUT049',1999,'Medium','Tier 1','Supermarket Type1',3735.1380),
('DRC01',5.92,'Regular',0.019278,'Soft Drinks',48.2692,'OUT018',2009,'Medium','Tier 3','Supermarket Type2',443.4228)]

try:
    if c.execute('''create table bigmart_data (Item_Identifier text,Item_Weight real,Item_Fat_Content text ,
                                    Item_Visibility real,Item_Type text,Item_MRP real,
                                   Outlet_Identifier real,Outlet_Establishment_Year real,Outlet_Size text,
                                   Outlet_Location_Type text,Outlet_Type text,Item_Outlet_Sales real)'''):
        print("bigmart_data Table is Created")  
except:
    print("table bigmart_data already exists")
finally:
    print("Complete Successfully")
       
conn.commit()
#conn.close()

table bigmart_data already exists
Complete Successfully

# Display data after creation

In [111]:
for i in c.execute('select * from bigmart_data'):
        print(i)

('FDA15', 9.3, 'Low Fat', 0.016047, 'Dairy', 249.8092, 'OUT049', 1999.0, 'Medium', 'Tier 1', 'Supermarket Type1', 3735.138)
('DRC01', 5.92, 'Regular', 0.019278, 'Soft Drinks', 48.2692, 'OUT018', 2009.0, 'Medium', 'Tier 3', 'Supermarket Type2', 443.4228)

# Inserting data in bigmart_data table

In [112]:
#inserting data in bigmart_data table
if c.execute('''insert into  bigmart_data values('FDA15',9.3,'Low Fat',0.016047,'Dairy',249.8092,'OUT049',1999,'Medium','Tier 1','Supermarket Type1',3735.138)'''):
    print("1 record Insert Successfully ")
if c.execute('''insert into  bigmart_data values('FDA18',16,'Hight Fat',0.016047,'Soft Drinks',249.8092,'OUT049',2000,'Medium','Tier 1','Supermarket Type1',3735.138)'''):
        print("2 record Insert Successfully ")
if conn.executemany('''insert into bigmart_data (Item_Identifier ,Item_Weight,Item_Fat_Content,
                                    Item_Visibility,Item_Type,Item_MRP,
                                   Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,
                                   Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales) values(?,?,?,?,?,?,?,?,?,?,?,?)''',data2):
        print("Insert Two record Successfully At time")
conn.commit()

1 record Insert Successfully
2 record Insert Successfully
Insert Two record Successfully At time

# Display Data after insertion

In [113]:
for i in c.execute('select * from bigmart_data'):
    print(i)

('FDA15', 9.3, 'Low Fat', 0.016047, 'Dairy', 249.8092, 'OUT049', 1999.0, 'Medium', 'Tier 1', 'Supermarket Type1', 3735.138)
('DRC01', 5.92, 'Regular', 0.019278, 'Soft Drinks', 48.2692, 'OUT018', 2009.0, 'Medium', 'Tier 3', 'Supermarket Type2', 443.4228)
('FDA15', 9.3, 'Low Fat', 0.016047, 'Dairy', 249.8092, 'OUT049', 1999.0, 'Medium', 'Tier 1', 'Supermarket Type1', 3735.138)
('FDA18', 16.0, 'Hight Fat', 0.016047, 'Soft Drinks', 249.8092, 'OUT049', 2000.0, 'Medium', 'Tier 1', 'Supermarket Type1', 3735.138)
('FDA15', 9.3, 'Low Fat', 0.016047, 'Dairy', 249.8092, 'OUT049', 1999.0, 'Medium', 'Tier 1', 'Supermarket Type1', 3735.138)
('DRC01', 5.92, 'Regular', 0.019278, 'Soft Drinks', 48.2692, 'OUT018', 2009.0, 'Medium', 'Tier 3', 'Supermarket Type2', 443.4228)

# Deleteing row from table

In [114]:
#Deleteing row from table
if c.execute('''DELETE FROM bigmart_data WHERE Item_Identifier = 'FDA15' '''):
    print("delete row Successfully")

delete row Successfully

In [116]:
#Printing data from table
for i in c.execute('select * from bigmart_data'):
    print(i)
conn.close()

('DRC01', 5.92, 'Regular', 0.019278, 'Soft Drinks', 48.2692, 'OUT018', 2009.0, 'Medium', 'Tier 3', 'Supermarket Type2', 443.4228)
('FDA18', 16.0, 'Hight Fat', 0.016047, 'Soft Drinks', 249.8092, 'OUT049', 2000.0, 'Medium', 'Tier 1', 'Supermarket Type1', 3735.138)
('DRC01', 5.92, 'Regular', 0.019278, 'Soft Drinks', 48.2692, 'OUT018', 2009.0, 'Medium', 'Tier 3', 'Supermarket Type2', 443.4228)

# Creating student table in sqlite3

In [171]:
#Creating connection with databases mydb1 is database
conn1=sqlite3.connect("mydb4")
#creating cursur conn  to traversal
c1=conn1.cursor()

In [172]:
#Creating table
try:
    if c1.execute('''create table student (roll_no real,name text,school_name text,DOB text)'''):
        print("student table created successfully")
except:
    print("table is already created")

student table created successfully

In [175]:
#Empty table
for data in c1.execute('''select * from student'''):
    print(data)
#conn1.close()

(1.0, 'Sam', 'xyz', '2 jan 2020')
(2.0, 'Tom', 'abc', '3 oct 2022')

In [174]:
#insert data
if c1.execute('''insert into student values(1,'Sam','xyz','2 jan 2020')'''):
    print("1 Record insert sucessfully ")
if c1.execute('''insert into student values(2,'Tom','abc','3 oct 2022')'''):
    print("2 Record insert sucessfully ")

1 Record insert sucessfully
2 Record insert sucessfully

In [169]:
#Drop table
#if c1.execute('''drop table student'''):
#    print("successfully deleted")

In [177]:
#Display data
for tada in c1.execute('''select * from student'''):
    print(tada)

(1.0, 'Sam', 'xyz', '2 jan 2020')
(2.0, 'Tom', 'abc', '3 oct 2022')

In [178]:
#update query
if c1.execute('''UPDATE student SET name= 'Chetan' WHERE roll_no = 1.0'''):
    print("update Successfully")
for data in c1.execute('''select * from student'''):
    print(data)

update Successfully
(1.0, 'Chetan', 'xyz', '2 jan 2020')
(2.0, 'Tom', 'abc', '3 oct 2022')

In [179]:
conn1.close()